* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

header {
  background-image: url('./assets/beer.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  color: white;
}

.pgtitle {
  font-size: 80px;
  text-align: left;
  padding-left: 10%;
  padding-top: 80px;
  padding-bottom: 10px;
}

.navbar {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-right: 25px; */
  position: fixed;
  background-color: black;
  width: 100%;
}

.navbarlinks {
  display: inline;
  padding-right: 50px;
}

.navbarlinks a {
  text-decoration: none;
  font-weight: bold;
  color: gold;
}

.dropdown {
  /* float: center; */
  /* position: relative; */
  overflow: hidden;
  display: inline;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  /* padding: 14px 16px; */
  background-color: inherit;
  /* margin: 0; */
}

.dropdown-content {
  display: none;
  position: absolute;
  max-width: 300px;
  left: 50%;
  background-color: #f9f9f9;
  /* min-width: 120px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: center;
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: gold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.welcomehead {
  color: gold;
  text-align: center;
}

.welcome {
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}

.findbrewerytitle {
  font-size: 30px;
  color: gold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.brewerytypestitle,
.contacttitle,
.abouttitle {
  color: gold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 35px;
  text-align: center;
}

.searchinput {
  display: flex;
  justify-content: center;
}

input {
  border: gold solid 1px;
  text-align: center;
  border-radius: 4px;
  padding: 4px 4px;
  width: 240px;
  font-size: 14px;
  margin-bottom: 10px;
}

.searchbutton {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.search-button {
  color: black;
  background-color: gold;
  opacity: 0.8;
  padding: 5px 95px;
  border-radius: 4px;
  border: 1px solid black;
  align-items: center;
}

.card {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: gold;
  color: black;
}

.maptitle {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}

#map {
  height: 300px;
  width: 100%;
}

.websiteurl {
  color: black;
  font-weight: bold;
}

/* add hover effects */
.websiteurl:hover {
  text-shadow: 3px 3px 3px black;
}

.mapBtn {
  color: gold;
  background-color: black;
  padding: 3px 15px;
  border-radius: 4px;
  border: 1px solid black;
  align-items: center;
}

/* beginning of css for brewery types page */
.typetitle {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.info {
  text-align: center;
  margin-bottom: 25px;
  background-color: gold;
  padding: 10px;
}

/* end of css for brewery types page */

/* beginning of css for about page */
.aboutinfo {
  text-align: center;
  color: white;
}

/* end of css for about page */

/* beginning of css for contact page */
.nametitle,
.phonetitle,
.emailtitle,
.subjecttitle {
  color: white;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.name,
.phone,
.email,
.subject {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
  width: 300px;
  height: 300px;
}

.submitbutton {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.submit-button {
  color: black;
  background-color: gold;
  opacity: 0.8;
  padding: 5px 95px;
  border-radius: 4px;
  border: 1px solid black;
  align-items: center;
}

/* end of css for contact page */

/* media query */
@media (max-width: 1050px) {
  header {
    background-image: center;
    height: 500px;
  }

  .pgtitle {
    font-size: 60px;
    text-align: left;
    padding-left: 5%;
    padding-right: 0%;
    padding-top: 120px;
  }

  .navbar {
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    padding-left: 0%;
    padding-right: 0%;
  }

  .findbrewerytitle {
    margin-top: 5px;
    margin-bottom: 8px;
  }
}

@media (max-width: 770px) {
  header {
    background-image: center;
    height: 400px;
  }

  .pgtitle {
    font-size: 50px;
    text-align: left;
    padding-left: 5%;
    padding-top: 100px;
  }

  .navbar {
    font-size: 17px;
    text-align: center;
    padding-top: 8px;
  }

  .findbrewerytitle {
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

.fa-regular {
  background: none;
  color: black;
  font: solid;
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 5px 5px;
  
}
.fa-regular:hover{
  background-color: pink;
}