* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background: black;
    color: white;
}

.header-title {
    margin-right: 5px;
}

.navbarlinks {
    display: inline;
    padding: 5px;
}

.navbarlinks a {
    text-decoration: none;
    font-weight: bold;
    color: gold;
}